.elements{
  color: #FFFFFF;
  margin: 0 0 66px 0;
  padding: 0;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px 17px;
}



@media all and (max-width:920px){
  .elements{
    grid-template-columns: repeat(2, 1fr);
    column-gap: auto;
    margin: 0 auto;
  }
}

@media all and (max-width:880px){
  .elements{
    margin: 20px;
  }
} 

@media all and (max-width:600px){
  .elements{
    max-width: 282px;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
    margin: 0 auto;
  }
}