.login__button {
  width: 100%;
  min-height: 50px;
  margin: 186px 0 0 0;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.login__button:hover{
  opacity: 0.5;
}