.footer{
  margin: 0 0 60px 0;
  padding: 0;
  color: #545454;
  max-width: 880px;
  align-self: stretch;
}

@media all and (max-width:810px){
  .footer{
    margin: 0 20px 60px 20px;
  }
}

@media all and (max-width:470px){
  .footer{
    margin: 48px 19px 36px 19px;
  }
}