.popup__input{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  max-width: 100%;
  border-bottom: 1px solid rgba(0,0,0, .2);
  outline: none;
  margin: 0;
  width: 358px;
  padding: 0 0 9px 0;
}

.popup__input::-webkit-input-placeholder {
  color: #C4C4C4;
}

.popup__input::-moz-placeholder {
  color: #C4C4C4;
}

@media all and (max-width:500px){
  .popup__input{
    margin: 0;
    width: 238px;
  }
}