.popup__label{
  margin: 0 64px 13px 36px;
  width: 100%;
  max-width: 358px;
  display: flex;
  flex-direction: column;
}


@media all and (max-width:500px){
  .popup__label{
    margin: 0 22px 13px 22px;
  }
}