.element__group{
  display: flex;
  justify-content: space-between;
  max-width: 246px;
  margin: 0 20px 0 21px;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media all and (max-width:470px){
  .element__group{
    max-width: 288px;
   }
}