.profile__button-pensil{
  width: 24px;
  height: 24px;
  margin: 14px 0 0 18px;
  align-self: baseline;
  padding: 11px;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../../images/Vectorpencil.svg);
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
  background-position: center;
}

.profile__button-pensil:hover{
  opacity: 0.6;
}

@media all and (max-width:1130px){
  .profile__button-pensil{
      margin: 18px auto 0 0;
  }
}

@media all and (max-width:690px){
  .profile__button-pensil{
    margin: 0;
    width: 18px;
    height: 18px;
    align-self: flex-end;
    margin-bottom: 6px;
    padding: 3px;
  }
}