.element__button{
  width: 22px;
  margin: auto 0 auto 0;
  background-color: transparent;
  border: none;
  padding: 11px;
  height: 22px;
  align-self: flex-start;
  cursor: pointer;
  background-image: url(../../../images/Vectorheard.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  z-index: 0;
}

.element__button:hover{
  opacity: 0.5;
}

.element__button-delete{
  width: 18px;
  height: 19px;
  position: absolute;
  top:20px;
  right: 20px;
  background-color: transparent;
  border: none;
  padding: 9.5px 9px;
  cursor: pointer;
  background-image: url(../../../images/delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 19px;
}

.element__button-delete:hover{
  opacity: 0.5;
}
